body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#song-details {
    margin-top: 20px;
}

#album-cover {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

#song-title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

#stream-link {
    display: inline-block;
    background-color: #1db954;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

#generate-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
}

#generate-button:hover {
    background-color: #333;
}
